/* App.css */
body {
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: #007BFF;
}

.question {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
  margin: 20px;
}

li {
  list-style: none;
  margin: 10px 0;
}

button {
  position: relative;
  top: 163px;
  background-color: #ff0000;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
